/* Login.css */

body-login {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: left;
    justify-content: center;
    height: 100vh;
    margin: 0;
    
    
    position: left;
    overflow-y: auto; /* Set position to relative so that children can be positioned relative to it */
  }
  
  login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    
    
  }
  
  h2-login {
    color: #333;
  }
  
  label-login {
    display: block;
    margin-bottom: 8px;
    color: #555;
  }
  
  input-login {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 12px; /* Reduce the bottom margin to 8px */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: transform 0.3s ease;
  }

  .written  {
    padding-top: 9px;
    margin-bottom: -9px;
  }
  
  